.GameOption{
  border: 2px white solid;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.winner{
  border: 2px rgb(9, 219, 212) solid;
}

.draw{
  border: 2px rgb(188, 219, 9) solid;
}