.game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  cursor: pointer;
}

.gameContent{
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 15px;
 padding-top: 20px; 

}

@media screen and (max-width: 400px){
  .gameContent{
    flex-direction: column;
  }
}

