.gameoption{
border: 2px solid white;
border-radius: 5px;
height: 40px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}


.winner{
  border: 2px solid rgb(8, 191, 237); 
}
