.button{
  background-color: rgb(8, 191, 237);
  color: black;
  cursor: pointer;  
  height: 25px;
  width: 160px;
  border-radius: 5px;

}
.button:hover{
  background: rgb(8, 157, 194);
}

.button:disabled{
cursor: default;
background-color: rgb(103, 180, 200);
}
